<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>SETTING</title>
</head>
<body>
<div class="container">
    <div class="header">
        <h2>System Setting</h2>
        <form class="form-inline" id="mpp-form">
            <div class="form-group">
                <label class="sr-only" for="mpp-num">Main Power Pin Num</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="mpp-num" placeholder="Pin Num">
                    <div class="input-group-addon">BCM</div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" id="btn-create" class="btn btn-default">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </button>
            <button type="button" id="btn-sync" class="btn btn-default">
                <span class="glyphicon glyphicon-download-alt"></span>
            </button>
        </div>
    </div>
    <div class="table-wrapper">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Pin_Num</th>
                <th>Description</th>
                <th>Operations</th>
            </tr>
            </thead>
            <tbody>
            {% for pin in pins %}
                <tr>
                    <td>{{ pin.id }}</td>
                    <td>{{ pin.name }}</td>
                    <td>{{ pin.pin_num }}</td>
                    <td>{{ pin.description }}</td>
                    <td>
                        <button class="btn btn-danger btn-delete" data-id="{{ pin.id }}"><span
                                class="glyphicon glyphicon-remove"></span></button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="alert alert-success" role="alert" id="top-message" style="display: none"></div>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="/static/js/common.js"></script>
<script>
    $('#btn-create').click(function () {
        window.location.href = '/static/create-pin.html';
    });
    $('.btn-delete').click(function () {
        const id = $(this).attr('data-id');
        $.ajax({
            url: '/panel/out-pin/' + id,
            type: 'delete',
            success: function (res) {
                if (res.code === 200) {
                    window.showMessage('Delete success, reload page after 2s!');
                    setTimeout(function () {
                        window.location.reload()
                    }, 2000);
                } else {
                    window.showMessage('Delete error,' + res.msg);
                }
            }
        })
    });
    $('#btn-sync').click(function () {
        $.ajax({
            url: '/panel/out-pin/sync',
            type: 'post',
            success: function (res) {
                if (res.code === 200) {
                    window.showMessage('Sync success!');
                } else {
                    window.showMessage('Sync error,' + res.msg);
                }
            }
        });
    });
    $('#mpp-form').submit(function (e) {
        e.preventDefault();
        const pinNum = $('#mpp-num').val();
        const postData = JSON.stringify({pin_num: pinNum});
        $.ajax({
            url: '/panel/main-power/pin_num',
            type: 'post',
            data: postData,
            contentType: 'application/json',
            success: function (res) {
                if (res.code === 200) {
                    window.showMessage('Set main power pin success!')
                } else {
                    window.showMessage('Set main power pin error!' + res.msg)
                }
            }
        });
        return false;
    })
</script>
</body>
</html>